@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-monsterrat:'Montserrat', sans-serif;
  --breakpoint-3xl: 1920px;
  --breakpoint-md: 1200px;
}

@keyframes moveIcon {
  0%   { transform: translateX(0)   translateY(-50%); }
  100% { transform: translateX(-200vw) translateY(-50%); }
}

.animate-moveIcon {
  animation: moveIcon linear infinite;
  left: calc(100% + 40 * 2rem),
}